/* Colors */
:root {
    --text: #4e1a8e;
--background: #fbfbfe;
--primary: #b297d3;
--secondary: #cbbfdf;
--accent: #2c27d3;
}

/* BUTTONS SECTION */



/* Hero Section */

body {
    background-color: var(--background);
}

.aplusl {
    text-align: center;
}

.hero-img {
    max-width: 500px;
}

.hero-text {
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto';
    color: var(--text);
}

